@charset "utf-8";

// -----------------------------------------------------------------------------
// Libraries
// -----------------------------------------------------------------------------
@import "normalize-scss";
@import "kollegorna-design-system";

// -----------------------------------------------------------------------------
// General stuff
// -----------------------------------------------------------------------------

body {
  color: $ds-color-scrub;
  max-width: 768px;
  margin: 0 auto;
  padding: 60px 20px;
}

h1 {
  text-align: center;
}

// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------

.header {
  margin-bottom: 40px;
  text-align: center;
}

// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------

.footer {
  color: $ds-color-text-light;
  padding-top: 60px;
  text-align: center;

  p {
    @extend small;
  }
}

// -----------------------------------------------------------------------------
// Home
// -----------------------------------------------------------------------------

.home {
  text-align: center;
}

// -----------------------------------------------------------------------------
// Manual pages
// -----------------------------------------------------------------------------

.manual {
  img {
    @extend .polaroid;
  }
}
