@charset "utf-8";

// -----------------------------------------------------------------------------
// Libraries
// -----------------------------------------------------------------------------
@import "normalize-scss";
@import "kollegorna-design-system";

// -----------------------------------------------------------------------------
// General stuff
// -----------------------------------------------------------------------------

.button {
	border-color: currentColor;
}

hr {
	border-color: darken( $ds-color-background, 10 );
}
.hr-compl
{
    border-style: dotted;
}

.visuallyhidden {
  @extend %ds-visuallyhidden;
}

.t-elegant {
    font-family: $ds-font-family-complementary;
    font-style: italic;
}
.t-light {
    color: $ds-color-text-light;
}

h1 {
    text-align: center;
}

h2{
    font-size: ds-rem-calc(32);
    letter-spacing: ds-rem-calc(-1);
    font-weight: 700;
}

a {
	color: $ds-color-green;
}

body {
  color: $ds-color-scrub;
  max-width: 768px;
  margin: 0 auto;
  padding: 60px 20px;
}



// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------

.header {
  text-align: center;
  border-bottom: 1px solid darken( $ds-color-background, 10 );
  padding-bottom: 40px;
  margin-bottom: 40px;

  &__hero,
  &__logo {
      display: block;
  }
  &__hero {
     margin-bottom: 40px;
     img {
         width: 100%;
         max-width: 300px;
     }
  }
  &__logo {
      img {
          width: 100%;
          max-width: 200px;
      }
  }
}

// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------

.footer {
  text-align: center;
  color: $ds-color-text-light;
  padding-top: 60px;

  .page-home & {
      border-top: 1px solid darken( $ds-color-background, 10 );
      margin-top: 60px;
  }

  p {
    @extend small;
  }

  &__cc {
    opacity: .5;
  }
}

// -----------------------------------------------------------------------------
// Home
// -----------------------------------------------------------------------------

.page-home {
  text-align: center;
}

// -----------------------------------------------------------------------------
// Manual pages
// -----------------------------------------------------------------------------

.page-manual .article {
  img {
    @extend .polaroid;
  }
}
