---
title: Field Guide | The Kollegorna Manuals
permalink: /field-guide/index.html
body_classes: page-manual
---

<h1>Field Guide</h1>

<hr class="hr-compl">

## Questions, ideas and suggestions

For any input regarding this handbook, bring it up in the #kollegorna channel in Slack.

<hr class="hr-compl">

## HR matters

Any questions regarding HR matters that aren't answered below should be brought up in your personal private channel in Slack.

<hr class="hr-compl">

## Vacations

Want some time off?

Make sure to send us your vacation request at least one month before you want to go.

<hr class="hr-compl">

## Daily routines

This is a brief summary of the most important everyday things at work. For more in-depth coverage of each service/tool, see the relevant section later in this document.

Being guns for hire, time tracking is the most important thing. If we strip away the beards, buzzwords and animated GIFs, we're a essentially a factory that makes billable hours. That's our main product. The fancy web sites and cool software we create along the way are byproducts of this. It's easy to lose sight of this, but this is how we keep the lights on.

### Start your engines

Slack, Trello and Harvest should always be running while we're working, and make sure your Trello and Basecamp notifications are working.

### Need to run an errand or shift your hours a bit?

Let us know in Slack. If this is something you know up front – make sure you add it to your calendar. If you can't access Slack for whatever reason, send an e-mail or SMS to Henrik, Per, Magnus or Eduardo.

### Sick?

Let us know via Slack, SMS or e-mail and give us daily (or whatever interval we agree on) updates so we can plan around it.

### Punching out

Before you leave for the day you shall take 15-20 minutes to round off the day.

*   Make sure your time sheet is in order.
*   Make sure everyone else is in the loop by updating the cards you've been working on in Trello.
*   Push any code that needs to be pushed.
*   Post a summary of what you've done today and what you're supposed to do tomorrow in the #starlog.

<hr class="hr-compl">

## Quip

[https://kollegorna.quip.com](https://kollegorna.quip.com/)

We use Quip primarily as a platform/wiki for internal documents that typically won't be shared outside the company.

Examples:

*   Internal documentation
*   Meeting notes
*   Personal notes on projects (instead of using Evernote, local text files, etc)
*   Ideas
*   Project logs where daily or weekly activity is recorded.

Quip has mobile apps for iOS and Android as well as an desktop app for OS X.

<hr class="hr-compl">

## Google Apps

### Mail

[http://mail.kollegorna.se](http://mail.kollegorna.se/)

*   You are free to use whatever mail client you prefer.
*   [Set up a profile picture](https://mail.google.com/mail/u/0/#settings/general). It makes email more personal.
*   Use vacation responders when you're enjoying your time off.
*   Use this signature template:

Per Sandström – Kollegorna<br>
per@kollegorna.se | 070 - 242 07 50 | kollegorna.se/per<br>
Slussplan 11, 111 30 Stockholm | www.kollegorna.se<br>

### Calendar

[http://calendar.kollegorna.se](http://calendar.kollegorna.se/)

*   Each person has a personal calendar that is shared with everyone else. There is also a general calendar for the whole company. Make sure that you have access to all calendars.
*   Always use calendar invites for meetings.

### Drive

[http://drive.kollegorna.se](http://drive.kollegorna.se)

This is where we store various files:

*   Project/client files (e.g. photos, PSD files, etc.)
*   Kollegorna logos, business card templates, etc.

When being in the root directory you should see the "Kollegorna" and "Clients" folders.

We also use it for documents that Quip isn't the best match for:

*   Documents that are shared with clients (though for longer documentation we use Sites, see below)
*   Documents that should be exported as files (e.g. proposals).
*   Project folders that are shared with clients
*   Spreadsheets

There is a desktop app that can be installed which makes it work more or less like Dropbox. It's up to each person to decide which, if any, folder that you want to sync with your computer. You can configure this within the app.

[www.google.com/drive/download/](https://www.google.com/drive/download/)

There are also iOS and Android apps available.

<hr class="hr-compl">

## Slack

[https://kollegorna.slack.com](https://kollegorna.slack.com)

Slack is the hub of our internal communication. Always be logged into Slack when you're working.

### Apps

Download the desktop app and make sure the notification settings are like this:

<%= image_tag 'content/slack-notifications.png' %>

And feel free to use the do not disturb settings to avoid being bugged by job stuff when you're not working.

<%= image_tag 'content/slack-dnd.png' %>

There are also iOS and Android-apps that can be installed. However, you don't need to have push notifications enabled. You shouldn't be disturbed when you're not working.

### General channels

You can chat 1-on-1 with anyone on the team, but we also have a few standard rooms:

**#kollegorna**

This is our main chat room. If this would have been a thing in a physical office it would be the water cooler.

**#starlog**

At the end of each day you're supposed to post a summary of what you've done today as well as what you're going to do the next day.

**#announcements**

General news and announcements regarding the company. Not primarily for discussions but rather to keep everyone informed of what's going on. This channel should be kept clean from noise as much as possible. Everyone is free to post whatever they feel is relevant.

**#antennas**

The hills have ears. We feed this channel with things that concern us from the outside world. Such as:

*   Activity on the Kollegorna accounts on Twitter, Instagram and so on
*   Comments in the blogs on kollegorna.se and labs.kollegorna.se.
*   Pull requests and issues on our open source projects.

**#tips**

Found something interesting? Share it in this channel.

More general channels:

#backenders

#design

#frontenders

#sportsball

#codeship

#gitlog

### Project Channels

For most projects we create a special channel for it and pipe most of the communication there (discussions, commit messages, exceptions, etc).

### Shared Channels

We have a couple of client specific [shared channels](https://get.slack.help/hc/en-us/articles/115004151203-Create-shared-channels-on-a-workspace-beta-) where we invite the client and/or other collaborators to take part of the discussion.

### Need more help?

Post in #kollegorna

<hr class="hr-compl">

## Password manager

We use this to share login credentials, secret environment variables and so on.

You will only get access to security credentials that you'll need.

A more thorough guide will follow when we do your initial security review.

<hr class="hr-compl">

## GitHub

[https://github.com](https://github.com/)

Some notes:

* We don't use issues. All tasks that should be done should exist as cards in Trello.
* Always create a README and make sure it's up to date.


<hr class="hr-compl">

## Harvest

[http://kollegorna.harvestapp.com](http://kollegorna.harvestapp.com/)

Harvest is what we use for time tracking. Make sure that you track time on a daily basis, and **always use the Harvest button on the Trello card you're working on**.

There are a number of different categories to choose from when tracking time on a project. Pick whatever one you think fits best. If you don't have a Trello card then be sure to write a note manually. Sometimes clients need a more granular breakdown of how time was spent on a project and if we don't have notes for the time entires it quickly turns into unnecessary and time-consuming detective work looking at git logs, chat logs, emails, etc.

We generally send out invoices on the 1st of every month, but sometimes we may need to do it mid-month and some clients want to keep close tabs on how much time is spent. This means that it's critical that this is kept up to date.

### Submit timesheets

At the end of the week, when you're done with your work, use the [timesheet approval](https://www.getharvest.com/help/timesheets/managing-timesheets/timesheet-approval) function to submit the hours for the week. We'll then review them on the following tuesday.

<hr class="hr-compl">

## Trello

[http://www.trello.com](http://www.trello.com/)

Trello is used for task management. Everything you work on should exist as a card in Trello, regardless if it is client work or internal. If you have no cards in Trello, then ask around if you can help anyone with something and ping @bigwigz.

### Apps

There are Trello apps for Mac, Windows, iOS and Android. Make sure to install the ones for smartphones/tablets, but you don't need to have push notifications turned on.

### Always use the Harvest button to track time

<%= image_tag 'content/harvest-track.png' %>

This is how we keep in track of how time is being spent. It's very important that you use this properly.

### Lists

We have a default setup on every board with the following lists. This may vary a bit from project to project.

**Backlog**

This is where everyone can add thoughts, idéas, etc. None of these cards you have a member assigned. Assignment only happens when the card is promoted from the Backlog to the Todo list.

**Todo**

Tasks to be completed. Every card should have at least one member.

**Doing**

Tasks that are in progress and actively worked on.

**Blocked**

If you're stuck on something move that card here.

**Internal review**

Tasks that are done but need code review or other forms of thumbs up internally before they are classified as done or ready for "Client review".

When you move a card here you must:

- Have tested things properly yourself
- Add instructions for what should be reviewed and how to do it (unless it's obvious in the card title or description)
- If possible, provide links to the thing(s) that should be reviewed
- Be generous with screenshots and/or screencasts, if necessary
- Assign a reviewer to the card. This can be anyone in the team, not necessarily people already involved in the project. Sometimes it makes sense to borrow the eyes of someone who's totally new to the project. Use your best judgement when choosing a reviewer.

Make sure that you notify those who should review it when moving it here.

*If you get assigned a card under internal review, you should review it and either move it to Client Review (and/or assign it to whoever is managing the project) or move it back to “To do” along with comments on what needs to be fixed.*

**Client review**

Tasks that we feel are done internally, but where the client needs to give approval.

**Done**

Completed tasks. This list should only contain recently completed cards, older cards are archived.

### Members and mentions

Everyone involved in a task should be assigned as a member. Feel free to leave the card if you aren't working on it anymore.

It's good to use mentions (e.g. @persand) in comments and todos to keep the communication as clear as possible.

### Labels

We use labels to mark the relative importance of a todo. Use colors according to:

<%= image_tag 'content/trello-labels.png' %>

If a task has no label it must be of very low importance...

### Due dates

It's strongly recommended that all cards has a due date.

If you're assigned to a card that has a due date that's in the past then a friendly reminder to the other card members and/or card creator is in place.

### Estimates

Most cards should have an estimate in the title. The number displayed within "[ ]" is the amount of hours that should be spent.

For example:

"Make the logo bigger [8]"

…is estimated to 8 hours of work.

"Make the logo smaller [2-4]"

…is estimated to 2-4 hours of work.

If you believe more time is needed, or you exceed the current estimate, then get in touch with the person who assigned you to the task.

### Discussions on directly in the card vs Slack

We have no strict policy on this matter. Do what feels best.

But when a card is moved from Doing to some other list it's often good post a status update directly on the card and mention the person who's supposed to take over from there.

### Pages to use on a daily basis

trello.com/YOU/notifications

Your personal notification page in Trello. This provides an overview of all your notifications.

trello.com/YOU/cards

Your personal card page in Trello lists any unarchived cards that you are a member of.

<hr class="hr-compl">

## Basecamp

[https://www.basecamp.com](https://www.basecamp.com)

In some cases we use Basecamp to collaborate with our clients. We prefer this over just using plain emails because:

*   All history is retained in one place so it is much easier for new team members to catch up on earlier communication.
*   It's a clear and simple way to assign tasks to the client.
*   We add dates for various important milestones in the project.
*   The client can easly add files/documents (that we may later add to Drive as needed).

<hr class="hr-compl">

<div class="t-center">
  <p class="t-elegant">That's all folks!</p>
  <p><a href="/" class="button">Back home</a></p>
</div>
