---
title: Read The Ducking Kollegorna Manuals
body_classes: home
---

<h1>Kollegornas Manuals</h1>

<hr class="hr-gradient hr-gradient--medium">

<br>

<p class="t-lead">Welcome most beloved colleague (or curious person)!</p>

<p class="t-lead">Here you'll find the sacred books that helps us continue this successful journey of ours.</p>

<ul class="t-list-unstyled">
  <li>
    <a href="/management">Management</a>
  </li>
</ul>

<em>
<p><small>Coming soon:</small></p>

<ul class="t-list-unstyled">
  <li>
    Front end development
  </li>
  <li>
    Back end development
  </li>
  <li>
    In case of zombie apocalypse
  </li>
</ul>
</em>
