---
title: The Kollegorna Manuals
body_classes: page-home
---

<h1 class="visuallyhidden">The Kollegorna Manuals</h1>

<br>

<p class="t-lead">Welcome most beloved colleague (or curious person)!</p>
<p class="t-lead">Here you'll find the sacred books that helps us continue this successful journey of ours.</p>

<br>

<ul class="t-list-unstyled">
  <li><a class="button" href="/field-guide">Field Guide</a></li>
</ul>

<br>

<p class="t-elegant"><small><em>Coming soon:</em></small></p>

<ul class="t-list-unstyled t-elegant t-light">
  <li><em>Front end development</em></li>
  <li><em>Back end development</em></li>
  <li><em>In case of zombie apocalypse</em></li>
</ul>
