---
body_classes: page-home
---

<h1 class="visuallyhidden">The Kollegorna Manuals</h1>

<br>

<p class="t-lead">Welcome most beloved colleague (or curious person)!</p>
<p class="t-lead">Here you'll find the sacred books that helps us continue this successful journey of ours.</p>

<br>

<p class="t-center"><a class="button" href="/field-guide">Field Guide</a></p>
<p class="t-center"><a class="button" href="/public-communications">Public Communications</a></p>
