---
title: Public Communications | The Kollegorna Manuals
permalink: /public-communications/index.html
body_classes: page-manual
---

<h1>Public Communications</h1>

<hr class="hr-compl">

Everyone is encouraged to post stuff in our different Kollegorna channels.

Here's what you need to know:

## What to post

Well, that's up to you. We have one rule, based on [Nordstrom's Employee Handbook](https://signalvnoise.com/posts/2632-nordstroms-employee-handbook-mdash-short-and-sweet):

> Use best judgment in all situations. There will be no additional rules.
> Please feel free to ask your colleagues any question at any time.

## Client stuff needs approval

Client work needs the approval from the client before we can publish things related to what we do for them. For example, if you write a blog post about Javascript or design in general context then go ahead and post as you want. But if you write a post on how we did a certain Javascript thing for client X or design decisions for project Y then you must check first to make sure it's OK to post.

## Channels

Here are some specific instructions regarding different channels:

#### [Kollegorna.se](https://www.kollegorna.se/)

- Case studies needs to be reviewed by at least two other colleagues.
- Blog posts should be reviewed by at least one other colleague.

#### [You Might Also Like](https://youmightalsolike.us), [Twitter](https://twitter.com/kollegorna), [Facebook](https://facebook.com/kollegorna), [Dribbble](https://dribbble.com/kollegorna), [LinkedIn](https://www.linkedin.com/company-beta/685120/)

- Post freely. No reviews needed.

#### [GitHub](https://github.com/kollegorna)

- Code reviews are encouraged, but not required, before making a repository public.


<hr class="hr-compl">

<div class="t-center">
  <p class="t-elegant">Happy publishing!</p>
  <p><a href="/" class="button">Back home</a></p>
</div>
